.header {
    padding: 18px 0;
}

.header__container {
    padding: 0 30px;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__buttons {
    display: flex;
    column-gap: 10px;
}

.header__button {
    font-size: 12px;
    line-height: 16px;
    font-weight: 500;
    padding: 8px 20px;
}

.header__button_color_green {
    color: #000000;
    background-color: #3ddc84;
    border-radius: 3px;
}

.header__profile {
    display: flex;
    align-items: center;
    column-gap: 17px;
}

.header__profile-button {
    line-height: 16px;
    font-weight: 500;
}

.header__profile-photo {
    width: 26px;
    height: 30px;
    border-radius: 4px;
    background-color: #313131;
    background-image: url("../../images/icons/profile-icon.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 12px 14px;
}

.header__menu-button {
    display: none;
    width: 28px;
    height: 23px;
    background-image: url("../../images/icons/menu-button-icon.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

@media screen and (max-width: 768px) {
    .header__container {
        padding: 0 calc(14px + (30 - 14) * ((100vw - 320px) / (768 - 320)));
    }

    .header__nav {
        display: none;
    }

    .header__profile {
        display: none;
    }

    .header__menu-button {
        display: block;
        width: calc(22px + (28 - 22) * ((100vw - 320px) / (768 - 320)));
        height: calc(20.5px + (23 - 20.5) * ((100vw - 320px) / (768 - 320)));
    }

    .header__buttons {
        column-gap: calc(2px + (10 - 2) * ((100vw - 320px) / (768 - 320)));
    }

    .header__button {
        font-size: calc(10px + (12 - 10) * ((100vw - 320px) / (768 - 320)));
        padding-top: calc(5px + (8 - 5) * ((100vw - 320px) / (768 - 320)));
        padding-right: calc(12px + (20 - 12) * ((100vw - 320px) / (768 - 320)));
        padding-bottom: calc(5px + (8 - 5) * ((100vw - 320px) / (768 - 320)));
        padding-left: calc(12px + (20 - 12) * ((100vw - 320px) / (768 - 320)));
    }
}
