.footer {
    font-size: 13px;
    padding-top: 80px;
}

.footer__container {
    padding: 0 30px;
}

.footer__text {
    color: #8b8b8b;
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 1px solid #424242;
}

.footer__wrapper {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    gap: 30px 50px;
}

.footer__links {
    display: flex;
    gap: 12px 20px;
}

@media screen and (max-width: 768px) {
    .footer {
        font-size: calc(12px + (13 - 12) * ((100vw - 320px) / (768 - 320)));
    }

    .footer__container {
        padding: 0 calc(10px + (30 - 10) * ((100vw - 320px) / (768 - 320)));
    }

    .footer__wrapper {
        padding-top: calc(30px + (20 - 30) * ((100vw - 320px) / (768 - 320)));
        padding-bottom: calc(10px + (20 - 10) * ((100vw - 320px) / (768 - 320)));
    }
}

@media screen and (max-width: 600px) {
    .footer__wrapper {
        flex-direction: column;
        text-align: center;
    }

    .footer__copyright {
        color: #8b8b8b;
        order: 1;
    }

    .footer__links {
        flex-direction: column;
    }
}
