.page-404 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding-bottom: 60px;
}

.page-404__title {
    font-size: 140px;
    margin-bottom: 5px;
    margin-top: auto;
}

.page-404__subtitle {
    font-size: 16px;
}

.page-404__back-button {
    font: inherit;
    margin-top: auto;
    border: none;
    background-color: transparent;
    color: #4285f4;
    padding: 5px 10px;
    cursor: pointer;
}
